:root{
  --main-background: #ECEEF1;
  --main-blue: #0075c5;
  --main-gray: #8D9096;
}
* {
    box-sizing: border-box;
}
body{
    background: var(--main-background);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.9em;
}

main{
    width:100%;
}
nav {
  width: 100vw;
  display:grid; 
  grid-template-columns: 90% 10%;
  align-items: center;
  line-height:-563px;
}
.text-sect{
  text-align: right;
  margin-top: 10px;
  padding-right: 10px;
}
.text-sect p{
  line-height: 0.3;
  font-size: 12px;
  align-self: center;
}
.text-sect a{
  color: var(--main-blue); 
  text-decoration: none;
}
.sign-up{
  width: 75%;
  height: 5.3vh;
  background: var(--main-blue); 
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  color: #fff;
  /* font-size: 15px; */
}
.sign-up .fas{
  margin:0 6px;
  font-size: 13px;
}
footer {

}

.form-section{
    background: rgb(255, 255, 255);
    border: solid 1px rgb(207, 205, 205);
    border-radius: 2px;
}
.intuit-form-header{

}

.intuit-form-description{

}

.intuit-form-footer{

}

.terms-conditions{

}

.google-terms{
    background:  rgb(219, 217, 217);
}
.form-elements{

}

img{
    width:40px;
    height: 40px;
}
